.gridListMain{
    display: flex;
    flex-wrap:nowrap !important;
    transform: translateZ(0);
    height:auto;
    width: 100% !important;
}
    
    
    
    .gridListTile{
    margin-top: 1%;
    width:30% !important;
    height:90% !important;
    margin-left: 1%;
    border-radius: 5px;
}
    
    /*Higlighting selected address and check circle format*/
    .selectedAddress{
    margin-top: 1%;
    width:30% !important;
    height:90% !important;
    margin-left: 1%;
    box-shadow:3px -2px 3px 3px #df4178;
    border-radius: 5px;
    }
    .selectAddresscircle{
    margin-left: 80% !important;
    }
    
    /*Individual address card height*/
    .addressCard{
    height:290px !important;
    }
    
    /*Below display props to toggle "View Summary and "Change" button*/
    .dispNone{
        display: none;
    }
    
    .dispText{
        display: block;
        font-size: 30px;
        margin-left:4%;
    }
    
    /*CSS properties for smaller screen size*/
    @media only screen and (max-width: 1400px) {
    .saveAddressButton{
        width:140px !important;
    }
    
    
    }

    .App{
        padding:5px;
    }
    .symmary-card{
        margin-top: 200px;
        padding: auto;
    }